.article-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}

.article-item {
  width: 80%;
  padding: 20px;
  border: 1px solid;
  margin-bottom: 20px;
}

.article-img {
  width: 300px;
}